.app__wrapper_img img {
    width: 80%;
  }
  .app-chef-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
  }
  .app-chef-content-quote{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .app-chef-content-quote img{
    width: 47px;
    height: 40px;
    margin: 0 1rem 1rem 0;
  }
  .app-chef-sign{
    width: 100%;
    margin-top: 3rem;
  }
  .app-chef-sign p:first-child{
    font-family: var(--font-base);
    font-size: 32px;
    line-height: 42px;
    color: #AAA;

  }
  .app-chef-sign img{
    width: 250px;
    margin-top: 2rem;
  }
 
  @media screen and (max-width:550px) {
    .app-chef-content {
        align-items: center;
        justify-content: center;
        
    }
    .app__wrapper_info h1{
        font-size: 40px;
        line-height: 52px;
        
    }
    .app__wrapper_info{
        align-items: center;
        display: flex;
        flex-direction: column;

    }
    .app-chef-sign img{
        width: 100px;
        align-items: center;
    }
    
  }
  