.app-aboutus-content-about p{
    margin: 1rem 0;
}
.app-aboutus-content-history p{
    margin: 1rem 0;
}
.app-aboutus{
    position: relative;
}
.app-aboutus-overlay{
    position: absolute;
    inset: 0;
}
.app-aboutus-overlay img{
    width: 390px;
    height: 410px;
    z-index: 0;
}
.app-aboutus-content{
    width: 100%;
    z-index: 2;
}
.app-aboutus-content-knife img{
    height: 760px;
    
}
.app-aboutus-content-about{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}
.app-aboutus-content-history{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}
.app-aboutus-content-knife{
    margin: 2rem 4rem;
}
@media screen and (max-width:700px) {
    .app-aboutus-content{
        flex-direction: column;
    }
    .app-aboutus-content-knife img{
        height: 400px;
    }
    .app-aboutus-overlay img{
        height: 300px;
    }

    
}